##### step 1 : Import all Python libraries needed for the project

In [1]:
# Data manipulation and analysis
import numpy as np
import pandas as pd
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

##### step 2 import the dataset or do a data ingestion and save it to a variable

In [2]:
health_data = pd.read_csv("D:/health_dataset/health.csv")

In [3]:
health_data

,Age,Gender,Weight,Height,Cholesterol,HeartRate_Health,Glucose_Health,Exercise,Sleep,Calories_Health,Steps_Health
0,35,Male,54.979924,152.522183,High,87.0,92,4.415796,6.893152,2948,8138
1,21,Female,62.112262,183.781264,Normal,74.0,84,1.352048,8.091619,2203,11819
2,22,Female,NaN,183.976896,High,65.0,100,2.515289,7.464713,2556,10904
3,26,Male,75.704550,155.043719,Low,67.0,83,3.104907,6.134907,2878,7072
4,28,Male,68.946153,153.952614,Low,69.0,118,3.679813,6.934503,2927,6629
5,22,Male,68.740319,162.748154,High,92.0,93,4.788879,7.198364,2722,9266
6,21,Female,57.166993,185.029681,Low,84.0,86,1.842906,6.754712,2258,5517
7,28,Male,68.282364,183.620710,High,74.0,80,4.050803,6.573486,1637,9609
8,33,Female,72.844097,152.652195,Normal,NaN,82,3.291070,8.822001,2573,11188
9,39,Female,80.298708,182.370625,High,85.0,85,1.467954,7.639541,2330,9914
10,32,Male,84.585272,180.178171,Normal,78.0,116,3.507473,8.242295,1766,9500
11,38,Male,84.956939,174.759768,Low,73.0,103,1.773427,7.342818,1563,7532
12,28,Female,73.866228,157.963696,Normal,70.0,114,NaN,6.263462,1827,7320
13,22,Male,66.778029,178.604860,Normal,92.0,84,1.019994,7.593991,1595,6262
14,35,Male,81.869354,176.095035,Normal,65.0,97,4.079958,7.125352,2427,9291
15,38,Male,62.594733,180.040287,Low,77.0,103,3.028221,NaN,2353,7265
16,28,Female,59.777798,150.266229,High,82.0,111,1.871286,8.233139,2568,10132
17,28,Male,70.650566,158.487618,Low,82.0,118,4.474394,6.911192,2202,5657
18,25,Male,58.537009,185.673889,Normal,87.0,101,3.758114,6.371009,1617,8388
19,39,Male,66.918122,184.676400,Low,78.0,99,1.692903,8.373818,1975,6269
20,35,Male,74.607218,174.880331,Normal,76.0,89,2.818780,6.096618,2030,9647
21,22,Female,84.607877,180.520126,High,97.0,80,2.876509,8.028312,2378,11413
22,26,Female,72.383271,171.184332,High,66.0,96,3.067473,7.079891,2279,7713
23,25,Male,76.488545,172.021582,Low,82.0,83,3.014631,7.720515,2847,11757
24,32,Female,89.124316,175.113300,High,69.0,99,2.377878,7.305394,2331,9437
25,23,Female,80.974833,160.520673,Low,94.0,116,2.632212,8.476110,2552,8644
26,25,Female,68.148509,178.248776,Low,73.0,108,3.529390,6.478862,2709,11643
27,39,Male,52.562076,182.792237,Normal,71.0,87,4.276888,8.552229,1663,10416
28,35,Male,83.666231,157.158522,High,80.0,83,4.455735,8.488932,2453,9263
29,32,Male,66.106958,172.667870,Low,69.0,88,2.156907,8.758905,1917,8502
30,35,Male,54.979924,152.522183,High,87.0,92,4.415796,6.893152,2948,8138
31,21,Female,62.112262,183.781264,Normal,74.0,84,1.352048,8.091619,2203,11819

##### step 3 data cleaning

In [4]:
####### Find the missing values

In [5]:
total_missing_val_col = health_data.isnull().sum()

In [6]:
total_missing_val_col

Age                 0
Gender              0
Weight              1
Height              0
Cholesterol         0
HeartRate_Health    1
Glucose_Health      0
Exercise            1
Sleep               1
Calories_Health     0
Steps_Health        0
dtype: int64

In [7]:
total_missing_dataframe = health_data.isnull().sum().sum()

In [8]:
total_missing

NameError: name 'total_missing' is not defined

In [ ]:
# understanding If else statements in python

In [ ]:
# better way to approach this by understanding this basic code 
# if-else statement
x = 10
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

In [ ]:
x = -1
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

In [ ]:
x = 0
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

In [ ]:
# Checking if missing values are present
if health_data.isnull().values.any():
    print("Missing values are present in the dataset.")
else:
    print("No missing values found in the dataset.")

In [ ]:
# learn for loop
x = [1,2,4,9,]
for num in x:
    print(num)

##### combining for loop and if else statement to find missing values

In [ ]:
# Initialize counters for missing values
total_missing = 0

# Check for missing values using loops
for column in health_data.columns:
    col_missing = health_data[column].isnull().sum()
    
    if col_missing > 0:
        print(f"Column '{column}' has {col_missing} missing value(s).")
        total_missing += col_missing

# Output total count of missing values
if total_missing > 0:
    print(f"\nTotal number of missing values: {total_missing}")
else:
    print("\nNo missing values found.")

### A better way to find and remove missing values is to write a function to do the task 
##### remmeber a function is created to make a task easier by writing the def, let get an example

##### remmeber a function is created to make a task easier by writing the def, let get an example

In [ ]:
def add_three_numbers(a, b, c):
    result = a + b + c
    return result

In [ ]:
add_three_numbers(1,2,4)

In [ ]:
# Example usage:
x = 5
y = 8
z = 10
sum_result = add_three_numbers(x,y,z)

In [ ]:
sum_result

In [ ]:
def process_missing_values(dataset):
    # Calculate total number of missing values
    total_missing = dataset.isnull().sum().sum()
    print(f"Total number of missing values in the dataset: {total_missing}")

    # Drop rows containing missing values
    dataset_no_missing = dataset.dropna()
    
    return dataset_no_missing

In [ ]:
new_healthdata=process_missing_values(health_data)

In [ ]:
new_healthdata

In [ ]:
new_healthdata.isnull().sum().sum()

In [ ]:
new_healthdata.shape

In [ ]:
new_data=health_data.dropna()

In [ ]:
#new_data

In [ ]:
# Finding duplicates
duplicates = new_healthdata[new_healthdata.duplicated()]

# Displaying duplicates
print("\nDuplicate rows:")
print(duplicates)

# Removing duplicates
df_clean_healthdata = new_healthdata.drop_duplicates()

In [ ]:
df_clean_healthdata

##### convert each columns to two decimal points

In [ ]:
df_clean_healthdata=df_clean_healthdata.round(2)

In [ ]:
df_clean_healthdata

##### Step 4 Data analysis

In [ ]:
df_clean_healthdata.describe()

In [ ]:
df_clean_healthdata["Age"]

In [ ]:
Gender_unique = df_clean_healthdata["Gender"].unique()

In [ ]:
Gender_unique

In [ ]:
Cholesterol_unique = df_clean_healthdata["Cholesterol"].unique()

In [ ]:
Cholesterol_unique

In [ ]:
df=df_clean_healthdata

In [ ]:
# Define a mapping of Gender categories to numeric values
Gender_mapping = {'Male': 1, 'Female': 2}

# Map the categorical values to numeric values
df['Gender'] = df['Gender'].map(Gender_mapping)

In [ ]:
df

In [ ]:
# Define a mapping of Gender categories to numeric values
Cholesterol_mapping = {"High": 1, "Normal": 2,"Low":3}

# Map the categorical values to numeric values
df['Cholesterol'] = df['Cholesterol'].map(Cholesterol_mapping)

In [ ]:
df

In [ ]:
# Create a correlation matrix
correlation_matrix =df.corr()

In [ ]:

# Create a heatmap using seaborn
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)

# Adding a title
plt.title('Correlation Plot')

# Display the plot
plt.show()

In [ ]:
# Create a pair plot
sns.pairplot(df_clean_healthdata)
plt.show()

In [ ]:
# Plot a histogram for 'Feature1'
plt.figure(figsize=(7, 6))
plt.hist(df['Glucose_Health'], bins=20, color='skyblue', edgecolor='black', alpha=0.7)

# Add labels and a title
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Histogram for Glucose_Health')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(10, 6))

# Create a bar chart using seaborn
sns.barplot(x='Gender', y="Weight", data=df_clean_healthdata, palette='viridis')

# Add labels and a title
plt.xlabel('Gender')
plt.ylabel('Weight')
plt.title('Bar Chart of Gender vs Weight')

# Show the plot
plt.show()

In [ ]:
df_clean_healthdata

In [ ]:
# Plot a histogram for 'Feature1'
plt.figure(figsize=(7, 6))
plt.hist(df['HeartRate_Health'], bins=20, color='skyblue', edgecolor='black', alpha=0.7)

# Add labels and a title
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Histogram for HeartRate_Health')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(12, 8))

# Create a bar chart using seaborn with color encoding for 'Category2'
sns.barplot(x='Calories_Health', y='Height', hue='Cholesterol', data=df, palette='Set2')

# Add labels and a title
plt.xlabel('Calories_Health')
plt.ylabel('Height')
plt.title('Bar Chart of Calories_Health vs Height')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(12, 8))

# Create a bar chart using seaborn with color encoding for 'Category2'
sns.barplot(x='Calories_Health', y='Height', hue='Gender', data=df, palette='Set2')

# Add labels and a title
plt.xlabel('Calories_Health')
plt.ylabel('Height')
plt.title('Bar Chart of Calories_Health vs Height')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(10, 8))

# Create a scatter plot with points colored by 'ColorVar'
sns.scatterplot(x='HeartRate_Health', y='Age', hue='Gender', data=df, palette='viridis', sizes=(50, 200))

# Add labels and a title
plt.xlabel('HeartRate_Health')
plt.ylabel('Age')
plt.title('Scatter Plot colored by Heart rate vs Age , colour by Gender')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(10, 8))

# Create a scatter plot with points colored by 'ColorVar'
sns.scatterplot(x='Calories_Health', y='Height', hue='Cholesterol', data=df, palette='viridis', sizes=(50, 200))

# Add labels and a title
plt.xlabel('Calories_Health')
plt.ylabel('Height')
plt.title('Scatter Plot colored by Calories_Health vs Height , colour by Cholesterol')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(7, 8))

# Create a bar chart using seaborn with color encoding for 'Category2'
sns.barplot(x='Cholesterol', y='Calories_Health', hue='Gender', data=df, palette='Set2')

# Add labels and a title
plt.xlabel('Calories_Health')
plt.ylabel('Cholesterol')
plt.title('Bar Chart of Calories_Health vs Cholesterol')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(7, 8))

# Create a bar chart using seaborn with color encoding for 'Category2'
sns.barplot(x='Cholesterol', y='Steps_Health', hue='Gender', data=df, palette='Set2')

# Add labels and a title
plt.xlabel('Steps_Health')
plt.ylabel('Cholesterol')
plt.title('Bar Chart of Steps_Health vs Cholesterol')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(7, 8))

# Create a bar chart using seaborn with color encoding for 'Category2'
sns.barplot(x='Cholesterol', y='Weight', hue='Gender', data=df, palette='Set2')

# Add labels and a title
plt.xlabel('Weight')
plt.ylabel('Cholesterol')
plt.title('Bar Chart of Weight vs Cholesterol')

# Show the plot
plt.show()

In [ ]:
# Set a larger figure size
plt.figure(figsize=(7, 8))

# Create a bar chart using seaborn with color encoding for 'Category2'
sns.barplot(x='Cholesterol', y='Exercise', hue='Gender', data=df, palette='Set2')

# Add labels and a title
plt.xlabel('Exercise')
plt.ylabel('Cholesterol')
plt.title('Bar Chart of Exercise vs Cholesterol')

# Show the plot
plt.show()

In [11]:
#!pip install scikit-learn

In [12]:
#from sklearn.linear_model import LinearRegression

In [ ]:
# Create a linear regression model
model = LinearRegression()

# Reshape X to a 2D array (required for scikit-learn)
X = df['X'].values.reshape(-1, 1)

# Fit the model
model.fit(X, df['Y'])

# Print the coefficients
print('Intercept:', model.intercept_)
print('Coefficient:', model.coef_[0])

# Plot the regression line
plt.scatter(df['X'], df['Y'], label='Data')
plt.plot(df['X'], model.predict(X), color='red', label='Regression Line')
plt.xlabel('X')
plt.ylabel('Y')
plt.title('Linear Regression Analysis')
plt.legend()
plt.show()